<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">Swt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="/form.html">회원가입</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list">사용자목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">로그인</a>
      </li>
    </ul>
    
   
  </div>
  
</nav>

<div class="container">
<form class="login_send" method="post">
  <div class="form-group">
    <label for="userId">사용자아이디</label>
    <input type="text" class="form-control" id = "userId" name="userId" aria-describedby="emailHelp" placeholder="userId">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <input type="submit" class="btn btn-primary" value="로그인"/>

</form>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
 	<script>
 		
 		
 		$(".login_send input[type=submit]").click(send);
 		
 		function send(e){
 			var userid = $('#userId').val();
 	 		var password =  $('#password').val();
 			console.log('click me');
 			e.preventDefault();	
 			var queryString = $(".login_send").serialize();
 			console.log("query: "+ queryString);
 			console.log(userid);
 	 		console.log(password);
 	 		
 			$.ajax({
 					type:'post',
 					//url:	'/insert',
 					url:	'http://13.125.126.134:3210/app/get/test',
 					data:	{userid:userid, password:password},
 					
 					
 					sucess : function(result){
 						if(result.result==1){
 							alert(result.msg);
 							location.href='http://13.125.126.134:3200'
 						}
 						else{
 							alert(result.msg)
 						}
 					}
 						
 			});
 		}
 	
 	</script>
 
  </body>
</html>